{% extends "base/base.html" %}
{% load paintedword_tags %}
{%block content%}

<link rel="stylesheet" href="{{STATIC_URL}}css/paintedword.css" />
<!--[if IE]><link rel="stylesheet" href="{{STATIC_URL}}css/fileuploader.css" /><![endif]-->
<div id="wrapper">
		<!-- Context variables - style as needed -->
		{{title}} <!-- Pure text -->
		{{description}} <!-- Pure text -->
		{{example_photo|safe}} <!-- Image Tag -->
		{% signup_form page_name %} <!-- See template signup_form.html -->
		{% photo_upload 'no_webcam' %} <!-- See template photo_upload.html -->
</div>

<script type="text/javascript">
//passing the logo into Javascript from the context.
var logo_url = "{{MEDIA_URL}}{{logo}}";
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
<script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/libs/jquery-1.7.1.min.js"><\/script>')</script>
<script src="{{STATIC_URL}}js/plugins/jquery.form.js"></script>
<script src="{{STATIC_URL}}js/plugins/spin.min.js"></script>
<script src="{{STATIC_URL}}js/plugins/jquery.lazyload.min.js"></script>
<script src="{{STATIC_URL}}js/plugins/webcam.js"></script>
<script src="{{STATIC_URL}}js/paintedword.js"></script>

<!--[if lt IE 9]>
	<script src="{{STATIC_URL}}js/plugins/flashcanvas.js"></script>
<![endif]-->

<!--[if IE]>
	<script src="{{STATIC_URL}}js/plugins/fileuploader.js"></script>
	<script src="{{STATIC_URL}}js/paintedword_ie.js"></script>
<![endif]-->

{%endblock%}
